<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884502786471-t4jtgrfr84qnkpqh6fd7vrg245k8qf2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884502786471-t4jtgrfr84qnkpqh6fd7vrg245k8qf2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884502786471-1e7e1utjaht4c67rfaf6tg2tphukfdvb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1-Uo9DPUdKP3atZ8oM6GcyKoJW6sZen8</string>
	<key>GCM_SENDER_ID</key>
	<string>884502786471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadwayCore</string>
	<key>PROJECT_ID</key>
	<string>roadway-core</string>
	<key>STORAGE_BUCKET</key>
	<string>roadway-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884502786471:ios:b2718ea7a599ab569a4682</string>
	<key>DATABASE_URL</key>
	<string>https://roadway-core-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>